.body {
    width: 60vw;
    height: 60vh;
    margin: auto;
    margin-top: 100px;
    display: flex;
    overflow: hidden;
}

.sedan, .suv, .luxury {
    width: 20vw;
    padding: 40px;
}

.sedan {
    background-color: #fb923c;
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;

}

.suv {
    background-color: #0d9488;
}

.luxury {
    background-color: #164e63;
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

p {
    color:antiquewhite;
    font-family: 'Noto-sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
}
img {
    width: 50px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-stretch: ultra-condensed;
    font-size: 35px;
    color: antiquewhite;
}

a {
    background-color: white;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 2rem;
    margin-top: 15px;
    font-family: 'Noto-sans', sans-serif;
    font-size: 14px;
    position: relative;
    top: 50px;
}

.sedans {
    color: #fb923c;
}

.suvs {
    color: #0d9488;
}

.luxurys {
    color: #164e63;
}