body {
    background-color: hsl(0, 0%, 95%);
}

.body {
    width: 60vw;
    height: 60vh;
    margin: auto;
    margin-top: 7rem;
    display: flex;
    overflow: hidden;
}

.sedan, .suv, .luxury {
    width: 20vw;
    padding: 2.5rem;
}

.sedan {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;

}

.suv {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
}


p {
    color:hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 22px;
}
img {
    width: 3.125rem;
}

h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-stretch: ultra-condensed;
    font-size: 35px;
    color: hsl(0, 0%, 95%);
}

a {
    background-color: hsl(0, 0%, 95%);
    text-decoration: none;
    padding: 0.93rem 2.18rem;
    border-radius: 2rem;
    margin-top: 0.93rem;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    position: relative;
    top: 3.125rem;
}

.sedans {
    color: hsl(31, 77%, 52%);
}

.suvs {
    color: hsl(184, 100%, 22%);
}

.luxurys {
    color: hsl(179, 100%, 13%);
}